/*EXERCICIO 1*/
#titulo{
    color: #5EC8AE;

}

#texto{
    border: 5px solid #5EC8AE;
    padding: 5px;
}

#autor{
    color: #5EC8AE;
    border: 5px solid #000;
    border-radius: 50px;
    padding: 5px;
}

/*EXERCICIO 2*/

#titleEx2{
    color: white;
}

#quadro-ol{
    padding: 20px;
    border: 1px solid purple;
    background-color: white;
    width: 250px;
    height: auto;
}

#purple-item{
    color: purple;
}
