.container-ex3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px
}

.numCalc{
    display: flex;
    flex-direction: column;
}

.operadores{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    gap: 10px;
}
